# ========== FRONTEND (Next.js) ==========
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Next.js
frontend/.next/
frontend/out/

# Production build
frontend/build

# Coverage
frontend/coverage

# Debug logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Env files
frontend/.env*
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts


# ========== BACKEND (Flask) ==========
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# ========== GENERAL ==========
.DS_Store
*.pem
.env
